/* uni-app 全局 SCSS 变量 */
@import 'uview-plus/theme.scss';

/* 主题色 */
$w-primary: #34d399;
$w-primary-light: #6ee7b7;
$w-accent: #2dd4bf;
$w-accent-2: #5eead4;
$w-bg: #0b0f1c;
$w-bg-card: #151a2c;
$w-text: #e8ecf7;
$w-text-dim: #8a93ab;
